/Assignment 1/images1
/Assignment 1/images2
/Assignment 1/output
/Assignment 2/images1
/Assignment 2/images2
/Assignment 2/output
/Assignment 2/video
/Assignment 3/images1
/Assignment 3/images2
/Assignment 3/output
/Assignment 3/video
